p {
  font-family: Comic Sans;
}

.problem-item-img {
  width: 300px; 
  height: 790px;
}

.info-item-text {
  margin: 30px 50px 1px 50px;
}

@media (max-width: 767px) {
  .problem-item-img {
    width: 600px; 
    height: 330px;
  }
}