p {
  font-family: Comic Sans;
}

.price {
  color: #ffc542;
  -webkit-text-stroke: 1px #844a4a;
  font-size: 20pt;
  font-stretch: expanded;  
  font-family: Snell Roundhand, cursive;
  font-weight: 800;
}

.shop-item-img {
  width: 600px; 
  height: 580px;
}

.info-item-text {
  margin: 30px 50px 1px 50px;
}

@media (max-width: 767px) {
  .shop-item-img {
    width: 600px; 
    height: 330px;
  }
}